.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

mat-sidenav {
    width: 18vw;
    height: 100vh;
    padding: 20px;
  }

.main-view{
    height: 100vh;
}