<div class="skills" fxLayout="column" fxLayoutAlign="center center" style="width:100vw;">
  <h1 style="color:rgba(30, 30, 30, 0.97);border-bottom: 3px solid #c5a47e; padding-bottom: 5px;">TECHNICAL SKILLS</h1>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px" style="color:rgba(30, 30, 30, 0.97); width:100vw; font-size: 2vh;">
    <div fxflex="33" fxLayout="column" fxLayoutAlign="center center">
      <p>Javascript</p>
      <p>Angular 5</p>
      <p>React</p>
    </div>
    <div fxflex="33" fxLayout="column">
      <p>Java</p>
      <p>Oracle</p>
      <p>REST</p>
    </div>
    <div fxflex="33" fxLayout="column">
      <p>Git</p>
      <p>Agile</p>
      <p>OpenLayers</p>
    </div>
  </div>
</div>