<div fxLayout="column" fxLayoutAlign="center center">
  <h1>GET IN TOUCH</h1>
  <div></div>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" style="padding: 40px 75px; width:100vw;" fxLayoutGap="40px">
  <div fxFlex="33" fxLayout="column" fxLayoutAlign="center center" class="data-container">
    <a style="font-size:32px; color:#c5a47e">
      <i class="fas fa-phone"></i>
    </a>
    <h3>CALL</h3>
    <span>(210) 753 - 2324</span>
  </div>

  <div fxflex="33" fxLayout="column" fxLayoutAlign="center center" class="data-container">
    <a style="font-size:32px; color:#c5a47e">
      <i class="fas fa-comment-alt"></i>
    </a>
    <h3>SEND A MESSAGE</h3>
    <span>rolando.cepeda@yahoo.com</span>
  </div>

  <div fxflex="33" fxLayout="column" fxLayoutAlign="center center" class="data-container">
    <a style="font-size:32px; color:#c5a47e">
      <i class="fas fa-clock"></i>
    </a>
    <h3>WORK TIME</h3>
    <span>Mon - Fri : 9 AM - 5 PM CST</span>
  </div>
</div>