<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="20px" style="padding: 0px 75px;">
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex="40">
    <img src="assets/images/profile-picture.jpeg" height="100" width="100" style="border-radius:50%;">
    <h1 style="border-bottom: 3px solid #c5a47e; padding-bottom: 5px;">Personal Info</h1>
    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px" style="color:#777777">
      <p>Name: Rolando Cepeda</p>
      <p>Email: rolando.cepeda@yahoo.com</p>
      <p>Phone: (210) 753 - 2324</p>
    </div>
  </div>
  <div fxLayout="column" fxFlex="flex">
    <div style="color:#777777; font-size:1em;">
      Hello! My name is Rolando Cepeda. I am a South Texas native currently living in San Antonio, Tx. I work for
      CACI Inc as a 'Software Engineer I' modernizing legacy code. I essentially design and develop web-applications that make
      people's life simple. I love front-end development with angular and react but I am working on becoming a full stack developer. My experiences
      include working in a fast-paced agile environment with the latest technology and standards.
    </div>
    <div></div>
  </div>