<div style="width:100vw;">
  <!-- <img src="/assets/images/projects.jpeg"> -->
  <div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <h1 style="border-bottom: 3px solid #c5a47e; padding-bottom: 5px;">WORK EXPERIENCE AND PROJECTS</h1>
    </div>
    <mat-grid-list [cols]="cols | async" rowHeight="600px">
      <mat-grid-tile *ngFor="let project of projects">
        <mat-card class="example-card" fxlayout="column">
          <mat-card-header>
            <mat-card-title>{{project.title}}</mat-card-title>
            <mat-card-subtitle>{{project.subtitle}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content style="padding-top: 40px;">
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
              <div *ngIf="project.id !== 2 || !showVideo" class="card-image" fxLayout="column" fxLayoutAlign="center center">
                <img mat-card-image src="{{project.img}}" matTooltip="Caci Inc.">
              </div>
              <iframe *ngIf="project.id === 2 && showVideo" width="350" height="225" src="https://www.youtube.com/embed/vPXiGMrtvIg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              <div *ngIf="project.id === 2" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                  <a class="carousel-button" (click)="onPrevious()"><i class="fas fa-circle"></i></a>
                  <a class="carousel-button" (click)="onNext()"><i class="fas fa-circle"></i></a>
              </div>
              <p>{{project.description}}</p>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>